<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
</head>
<body>
    <form method="post" action="/user">
        <h2>Sign-Up</h2>
        <label>Enter your Name:</label>
        <input type="text" name="name">
        <label>Enter your Email:</label>
        <input type="email" name="email">
        <label>Enter your Password:</label>
        <input type="password" name="password">
        <button type="submit">Sign-Up</button>
    </form>
</body>
</html>